.d-inline-block {
	margin-left: 60px;
	height: 60px;
	padding-bottom: 10px;
}

.navbar {
	box-shadow: -1px -1px 25px black;
}

h4 {
	color: rgb(119, 115, 115);
	padding-bottom: 25px;
}

.table {
	border: black solid 3px;
}

.table thead {
	border: black solid 3px;
}

.table thead tr th {
	color: black;
	font-size: 17px;
}

.marquee{
    padding: 24px 0;
    white-space: nowrap;
    animation: marquee 10.5s linear infinite;
}

.marquee:after{
    content: " : The score will be updated every day between 6 p.m and 8 p.m";
}

@keyframes marquee{
    0% {
        transform: translateX(100%)
    }
    100% {
        transform: translateX(-100%)
    }
}

.buttons button {
	width: 150px;
	height: 50px;
	background-color: transparent;
	outline: 1px solid blue;
	margin: 5px 20px;
	position: relative;
	overflow: hidden;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 500;
	text-transform: uppercase;
	transition: all 0.3s ease;
	cursor: pointer;
	border: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
}

.buttons button:before,
.buttons button:after {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	background-color: skyblue;
	transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:before {
	right: 0;
	top: 0;
	transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:after {
	left: 0;
	bottom: 0;
}

.buttons button span:before,
.buttons button span:after {
	content: "";
	position: absolute;
	width: 2px;
	height: 0;
	background-color: skyblue;
	transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:before {
	right: 0;
	top: 0;
	transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:after {
	left: 0;
	bottom: 0;
}

.buttons button p {
	padding: 0;
	margin: 0;
	transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
	position: absolute;
	width: 100%;
	height: 100%;
}

.buttons button p:before,
.buttons button p:after {
	position: absolute;
	width: 100%;
	transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
	z-index: 1;
	left: 0;
}

.buttons button p:before {
	content: attr(data-title);
	top: 50%;
	transform: translateY(-50%);
}

.buttons button p:after {
	content: attr(data-text);
	top: 150%;
}

.buttons button:hover:before,
.buttons button:hover:after {
	width: 100%;
}

.buttons button:hover span {
	z-index: 1;
}

.buttons button:hover span:before,
.buttons button:hover span:after {
	height: 100%;
}

.buttons button:hover p:before {
	top: -50%;
	transform: rotate(5deg);
}

.buttons button:hover p:after {
	top: 50%;
	transform: translateY(-50%);
}

.buttons button.start {
	background-color: skyblue;
	box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease;
}

.buttons button.start p:before {
	top: -50%;
	transform: rotate(5deg);
}

.buttons button.start p:after {
	color: white;
	transition: all 0s ease;
	content: attr(data-start);
	top: 50%;
	transform: translateY(-50%);
	animation: start 0.3s ease;
	animation-fill-mode: forwards;
}

@keyframes start {
	from {
		top: -50%;
	}
}

.buttons button.start:hover:before,
.buttons button.start:hover:after {
	display: none;
}

.buttons button.start:hover span {
	display: none;
}

.buttons button:active {
	outline: none;
	border: none;
}

.buttons button:focus {
	outline: 0;
}

@media screen and (max-width: 668px) {
	.buttons button {
		margin-right: 10px;
		margin-left: 10px;
		width: 125px;
	}
}