.d-inline-block {
	margin-left: 60px;
	height: 60px;
	padding-bottom: 10px;
}

.navbar {
	box-shadow: -1px -1px 25px black;
}

h4 {
	color: rgb(119, 115, 115);
	padding-bottom: 25px;
}

.table {
	border: black solid 3px;
}

.table thead {
	border: black solid 3px;
}

.table thead tr th {
	color: black;
	font-size: 17px;
}

.marquee{
    padding: 24px 0;
    white-space: nowrap;
    animation: marquee 6.5s linear infinite; /* notice the infinite */
}

.marquee:after{
    content: " The score will be updated every day between 6 p.m and 8 p.m";
}

@keyframes marquee{
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-100%)
    }
}

